$primary: #ffa7a5;
$secondary: #34acba;
$accent: #ffe07e;
$error: #ee4266;
$success: #72dcbb;
$text: #d8e2e6;


$secondary-dim: #2f818a;
$secondary-light: #3fbcca;

$primary-light: #fdbfbe;

$text-light: #f5fbfd;


$accent-dim: #a28a3a;