@import '_variables';

.none {
    display: none !important;
}


body {

    --board-scale: calc((var(--zoom) / 100) * 0.75 + 0.25);
    --site-header-margin: 0px;
    --site-header-height: 60px;
    --sticky-gap: 0.5vmin;
    --main-margin: 1vw;
    --block-gap: 15px;

    @supports (width: min(1px, 2px)) {
      --col2-uniboard-width: calc(min(calc(100vw - var(--block-gap) - 240px - 2 * var(--main-margin, 0px) - 20px), calc(100vh - calc(var(--site-header-height) + var(--site-header-margin) + var(--sticky-gap)) - 1rem)) * var(--board-scale));
      --col3-uniboard-width: calc(min(calc(100vw - 250px - var(--block-gap) - 240px - 2 * var(--main-margin, 0px) - 20px), calc(100vh - calc(var(--site-header-height) + var(--site-header-margin) + var(--sticky-gap)) - 1rem)) * var(--board-scale));
    }


}

header {

    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    background: $secondary;
    max-width: 1800px;
    justify-content: space-between;
    margin: 0 auto;

    .title-nav {
        h1 {
            font-size: 2em;
        }

        a {
            color: $text;
        }

        a:hover {
            color: $text-light;
        }
    }

    #topnav {
        display: flex;
        align-items: center;

        a {
            font-size: 1.2em;
            color: $text;

            &:hover {
                color: $text-light;
            }
            &:active {
                text-decoration: underline;
            }
        }
    }
}

.main-wrap {

    --main-max-width: 1300px;

    @media (min-width: 799.3px), (orientation: landscape) {
        --main-max-width: auto;
    }

    display: grid;
    grid-template-areas: '. . main . .';

    grid-template-columns: var(--main-margin) 1fr minmax(auto, var(--main-max-width)) 1fr var(--main-margin);

    .main {
        grid-area: main;
      padding: 1em 0;
    }
}