@import '_variables';


header {

    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    background: $secondary;
    max-width: 1800px;
    justify-content: space-between;
    margin: 0 auto;

    .title-nav {
        h1 {
            font-size: 2em;
        }

        a {
            color: $text;
        }

        a:hover {
            color: $text-light;
        }
    }

    #topnav {
        display: flex;
        align-items: center;

        a {
            font-size: 1.2em;
            color: $text;

            &:hover {
                color: $text-light;
            }
            &:active {
                text-decoration: underline;
            }
        }
    }
}

.main-wrap {

    display: grid;
    grid-template-areas: '. . .'
    '. main .'
    '. . .';

    grid-template-columns: 30px auto 30px;

    .main {
        grid-area: main;
      padding: 1em 0;
    }
}