@import '_variables';


header {

    padding: 0.5em;
    background: $secondary;

    .title-nav {
        h1 {
            font-size: 2em;
        }

        a {
            color: $text;
        }
    }
}