@import '_variables';

.on-dashboard {
    .dashboard {
        display: grid;


        grid-template-areas:
        'list'
        'stats'
        'settings';


        @media (min-width: 799px) {
             grid-template-columns: 1fr 2fr;
             grid-template-areas:
             'list stats'
             'settings stats';
        }
     
    }

   .puzzle-list {
    grid-area: list
   }

   .settings {
    grid-area: settings;
   }

   .stats {
    grid-area: stats;
   }

   .puzzle-list h2,
   .settings h2 {
       font-size: 1.8em;
       font-weight: normal;
       padding: 0.5em 0;
   }



    .puzzle-list {

        ul > li {
            font-size: 1.2em;
            margin: 2px;
            padding: 0.8em;
            border: 1px solid $text;

            background: $secondary;

            cursor: pointer;
            user-select: none;

            &:hover {
                background: $secondary-light;
            }

            &.active {
                background: $primary;
            }
        }

    }


    .settings {
        .links {
            padding: 0 0.5em;
            display: flex;
            flex-flow: column;
            gap: 1em;

            .volume {
                display: flex;
                align-items: center;
                gap: 1em;
            }

            .link a {
                 color: $text;

            }

            & .link {


                &:active {
                    text-decoration: underline;
                }
                user-select: none;
                cursor: pointer;
            }

            & .red {
                font-size: 0.8em;
                color: $error;
            }

        }
    }

    .stats {
        display: flex;
        flex-flow: column;

        background: $secondary;

        .header {
            border-radius: 2px 2px 0px 0;
            padding: 1.2em;
            background: $primary;
            display: flex;
            justify-content: space-between;

            align-items: center;

            & .link {
                user-select: none;
                cursor: pointer;
                padding: 0.5em;
                border-radius: 2px;
                border: 1px solid $text;

                a {
                    color: $text;
                }

                &:hover {
                    background: $primary-light;
                }

                &:active {
                    background: $text;

                    a {
                       text-decoration: underline;
                       color: $primary;
                    }
                }
            }
        }


        .body {
            flex: 1;
            padding: 1em;
            display: flex;
            flex-flow: column;
            gap: 1em;

            .title {
                display: flex;
                justify-content: space-between;
            }
            
            .progress {
                flex: 1;
                display: flex;
                justify-content: center;
            }

            .info {
                display: flex;
                flex-flow: column;
                gap: 1em;

                .out {
                    padding-left: 4em;
                    display: flex;
                    justify-content: space-around;

                    span {
                        user-select: none;
                        cursor: pointer;
                    }

                    .solved {
                        color: $success;
                    }

                    .failed {
                        color: $error;
                    }

                    .skipped {
                        color: $accent;
                    }
                }

                & > span:last-child {
                    margin-top: 0.5em;
                }

            }

            .buttons {
                display: flex;
                justify-content: flex-end;

                button {
                    padding: 0.5em;
                    border: 1px solid $text;
                    border-radius: 2px;
                    background: $primary;
                    color: $text;
                }

                .link {
                    user-select: none;
                    cursor: pointer;

                    &.red {
                        color: $error;
                    }
                }
            }
        }
    }


    .stats .progress {
        .progress-bar {
            border-radius: 2px;
            flex: 1;
            background: $text;
            display: flex;

            box-shadow: inset 2px 2px 2px $dark-text, inset -2px -2px 2px $dark-text;
            border: 2px solid $text-light;

            span {
              margin: 2px 0;
              &.skipped {
                margin-right: 2px;
                background: $accent;
              }

              &.solved {
                margin-left: 2px;
                background: $success;
              }

              &.failed {
                background: $error;
              }
            }
        }
    }
}