@import '_variables';


.on-home {

    h1,
    h2 {
        font-weight: normal;
    }


    .home {
        display: grid;
        grid-template-areas:
            'board'
            'gauge'
            'replay'
            'side';
        gap: 1em;
        grid-template-rows: fit-content(0);


       @media (min-width: 799px) {
           grid-template-areas:
           'board gauge replay'
           'side side side';
           grid-template-columns: min(82vw, 82vh) 10px minmax(240px, 400px);
       }

       @media (min-width: 1259px) {
        grid-template-areas:
        'side board gauge replay';

        grid-template-columns: 1fr min(82vw, 82vh) 10px minmax(240px, 400px);
       }

    }


    .home .header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }


    @media (max-width: 799px) {
        .home .header {
            flex-direction: column;
        }
    }

    .board-wrap {
        grid-area: board;
    }

    .replay-wrap {
        grid-area: replay;
    }

    .side {
        grid-area: side;
        display: grid;
        gap: 1em;


        grid-template-areas: 'header tools'
            'list list';

        grid-template-rows: repeat(3, fit-content(0));

        @media (min-width: 1259px) {
            grid-template-areas: 'header'
            'tools'
            'list'
        }

        .side-header {
            grid-area: header;
        }

        .side-tools {
            grid-area: tools;
        }

        .side-list {
            grid-area: list;
        }
    }


    .side {

        .side-header {
            display: flex;
            flex-flow: column;
            gap: 0.5em;
        }

        .side-tools {
            display: flex;
            flex-flow: column;
            justify-content: space-around;
            gap: 1em;
        }


        .side-list {
            display: flex;
            flex-flow: row wrap-reverse;


            span {

                display: flex;
                flex-flow: row wrap;
                align-items: center;
                border-radius: 3px;

                user-select: none;
                cursor: pointer;
                flex: 0 0 2.3em;
                height: 1.6em;
                margin: 0.4em 0.5em 0 0;
                color: $text;
                background: #383838;
                opacity: .55;
                font-size: .85em;
                font-weight: bold;
                justify-content: center;

                &.current,
                &.failed,
                &.solved,
                &.skipped {
                    opacity: 0.86;
                }

                &.current {
                    background: $primary;
                }

                &.failed {
                    background: $error;
                }

                &.solved {
                    background: $success;
                }

                &.skipped {
                    background: #c9c145;
                }
            }
        }
    }

.side .side-header,
.side .side-tools,
.side .side-list {
    border-radius: 2px;
    background: linear-gradient($secondary, $secondary-dim);
    padding: 1em;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.replay-wrap {
    display: flex;
    flex-flow: column;
    .replay {
        flex: 1;
        display: flex;
        flex-flow: column;

        .replay-header {
            display: flex;
            justify-content: space-between;
        }

        .replay-header,
        .replay-tools {
            border-radius: 2px;
            background: linear-gradient($secondary, $secondary-light);
            padding: 1em;
        }

        .replay-v {
            flex: 2 1 auto;

            background: $secondary;
            border-bottom: 1px solid $text;
        }

        .replay-jump {
            display: flex;
            flex-flow: row;
            align-items: stretch;
            font-size: 1.2rem;

            .fbt {
                flex: 1 1 30%;
                border-radius: 0 0 3px 3px;

                &:last-child,
                &:first-child {
                    font-size: .7em;
                    flex: 1 1 20%;
                }
            }

        }

        .replay-tools {
            flex: 1 0 8rem;
            display: flex;
            flex-flow: column;
            justify-content: space-around;
            align-items: center;
            gap: 2em;
            .info {
                display: flex;
                flex-flow: column;
                text-align: left;

                .turn {
                    text-transform: capitalize;
                }
            }

            .solution {
                user-select: none;
                cursor: pointer;
                border-radius: 2px;
                padding: 1em;
                opacity: 1;

                transition: opacity 1s;
                &.fade-out {
                    opacity: 0;
                }
            }
            .solution:hover {
                color: black;
               background: linear-gradient($primary, $primary-light);
            }
            
            .solution:active {
                text-decoration: underline;
            }

            .link {

                cursor: pointer;
                user-select: none;

              &:hover {
                  color: $accent;
              }
            }
        }
    }
}

.side .side-tools {

    .jump-toggle,
    .show-dropdown {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }


    .jump-toggle input,
    .show-dropdown label {
        margin-right: 1em;
    }

    .jump-toggle input,
    .jump-toggle label,
    .show-dropdown select {
        cursor: pointer;
    }
}

}

.board-wrap {
    aspect-ratio: 1/1;
    max-height: 90vh;
}


.fbt {
    padding: 0.2em;
    text-transform: capitalize;
    line-height: 1.5;
    background: none;
    border: none;
    outline: none;
    color: #fafafa;
    user-select: none;
    cursor: pointer;

    &:hover:not(.disabled) {
        background: $success;
        color: $text;
    }

    &.disabled {
        opacity: .5;
        cursor: default;
    }
}